.parent {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 100px 100px repeat(8, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

body {
  background-color: #000000;
}

textarea {
  background-color: #424242;
  border: none;
  color: #ffffff;
  outline-color: #9e9e9e;
  margin: 20px;
  padding: 10px;
}

#mapInput {
  grid-area: 1 / 1 / 3 / 3;
  max-height: 200px;
}
#pathInput {
  grid-area: 1 / 4 / 3 / 6;
  max-height: 200px;
}
#zoom {
  grid-area: 1 / 3 / 2 / 4;
  max-height: 200px;
  outline: none;
}
#copyRight {
  grid-area: 2 / 3 / 3 / 4;
  max-height: 200px;
  justify-self: center;
}
#rebuild {
  width: 200px;
  height: 50px;
  background-color: #00c853;
  border: none;
  border-radius: 10px;
  outline: none;
  text-transform: uppercase;
  font-weight: 600;
  font-size: larger;
}
#rebuild:hover {
  background-color: #00e676;
}
#rebuild:active {
  box-shadow: inset 0px 0px 5px 3px rgba(0, 0, 0, 0.36);
}
h3 {
  text-align: center;
  color: white;
}
canvas {
  grid-area: 3 / 1 / 11 / 6;
  justify-self: center;
}
